/*
 * Globals
 */

 .bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}


/* Custom default button */
.btn-light,
.btn-light:hover,
.btn-light:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}


/*
 * Base structure
 */

body {
  /* text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5); */
  background-image: url('../images/bg.PNG') ;
  background-size: 250%;
}

.cover-container {
  max-width: 70%;
}

html, body {
  overflow-x: hidden;
}

/*
 * Header
 */

.nav-masthead .nav-link {
  color: rgba(255, 255, 255, .5);
  font-size: 1.25em;
  margin-top: 17px;
  margin-bottom: 10px;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
 color: rgba(255, 255, 255, 0.29);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1.5rem;
}

.nav-masthead .active {
  color: #fff;
}

.logo a {
  font-size: 1.25em;
  color: #fff;
  text-decoration: none;

}

.logo a:hover,
.logo a:focus {
  color: rgba(255, 255, 255, 0.29);
  text-decoration: none;

}

/* carousel */

#slide1 {
 transform: rotate(90deg);
}

.carousel { z-index: -99; } /* keeps this behind all content */
.carousel .item {
position:fixed; 
 opacity: 1;
 left:0 !important;
width: 100%; height: 100%;
-webkit-transition: opacity 0.5s;
-moz-transition: opacity 0.5s;
-ms-transition: opacity 0.5s;
-o-transition: opacity 0.5s;
transition: opacity 0.5s;
}
.carousel .one {
background: url(/assets/images/slide1.JPG);
background-size: cover;
-moz-background-size: cover;
}
.carousel .two {
background: url(/assets/images/slide2.PNG);
background-size: cover;
-moz-background-size: cover;
}
.carousel .three {
background: url(/assets/images/slide3.PNG);
background-size: cover;
-moz-background-size: cover;
}

.carousel .active {
opacity: 1 !important;
}

.carousel .left {
opacity: 1 !important;
-webkit-transition: opacity 0.5s  !important;
-moz-transition: opacity 0.5s  !important;
-ms-transition: opacity 0.5s  !important;
-o-transition: opacity 0.5s  !important;
transition: opacity 0.5s  !important;
}

.carousel-control-next {
  scale: 175%;
  position: fixed;
  margin-top: 10vh;
}

.carousel-control-next:active {
  scale: 175%;
  position: fixed;
  margin-top: 10vh;
}

.carousel-control-prev {
  scale: 175%;
  position: fixed;
  margin-top: 10vh;
  
}

.carousel-indicators {
  position: fixed;
}

.carousel-caption {
  position: fixed;
  max-width: fit-content;
  border-radius: 15px;
  padding: 15px;
  margin-bottom: 30vh;
  margin-left: 10vw;
  margin-right: 10vw;
  text-shadow: -2px 2px 3px black;
  font-weight: 800;
}

@media only screen and (min-width: 768px) {
  .carousel-caption {
    position: fixed;
    max-width: fit-content;
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 40vh;
    margin-left: 10vw;
    margin-right: 10vw;
    text-shadow: -2px 2px 3px black;
    font-weight: 800;
  }
  
}

.projecttext {
  text-decoration: none;
  color: #fff;
}

.projecttext:hover {
  text-decoration: none;
  color: #fff;
  color: rgba(255, 255, 255, 0.29);
}

.projecttext:active {
  text-decoration: none;
  color: #fff;
  color: rgba(255, 255, 255, 0.29);
}

/* shop */

.comingsoon {
  margin-top: 40vh;
}